@page "/hello-secure"
@attribute [Authorize()]
@inherits AuthComponentBase

<h1 class="fs-2">
    Call HelloSecure 
</h1>

<form @onsubmit="_ => OnSubmit()" class="max-w-xl row g-3">
    <div class="col col-10">
        <input type="text" placeholder="What's your name?" @bind-value="request.Name" spellcheck="false"
               class=@ClassNames("form-control", apiResult.InvalidClass(nameof(request.Name)))>
        <ErrorField Status=@apiResult.ErrorStatus Name=@nameof(request.Name)></ErrorField>
    </div>
    <div class="col col-2">
        <button class="btn btn-primary" @onclick="OnSubmit">Go</button>
    </div>
</form>

@if (apiResult.IsSuccess) {
    <div class="mt-4 text-muted">@User!.GetDisplayName() says:</div>
    <h3 class="text-success">@apiResult.Response!.Result</h3>
}

<div class="mt-4">
    <SrcLink href="https://github.com/NetCoreTemplates/blazor-wasm/blob/master/MyApp.Client/Pages/CallHelloSecure.razor" IconSrc="/img/blazor.svg" />
</div>

@code {
    HelloSecure request = new()
    {
        Name = "Blazor WASM"
    };

    ApiResult<HelloResponse> apiResult = new();

    protected override async Task OnInitializedAsync() => await OnSubmit();

    async Task OnSubmit() => apiResult = await ApiAsync(request);
}
