@page "/hello"
@inherits AppComponentBase

<h1 class="fs-2">Call Hello</h1>

<form @onsubmit="submit" class="max-w-xl row g-3">
<CascadingValue Value=@apiResult.ErrorStatus>
    <div class="col col-10">
        <TextInput placeholder="What's your name?" @bind-Value="request.Name" spellcheck="false" />
    </div>
    <div class="col col-2">
        <button class="btn btn-primary" @onclick="submit">Go</button>
    </div>
</CascadingValue>
</form>

@if (apiResult.IsSuccess) {
    <h3 class="text-success mt-4">@apiResult.Response!.Result</h3>
}

<div class="mt-4">
    <SrcLink href="https://github.com/NetCoreTemplates/blazor-wasm/blob/master/MyApp.Client/Pages/CallHello.razor" IconSrc="/img/blazor.svg" />
</div>

@code {
    Hello request = new()
    {
        Name = "Blazor WASM"
    };

    ApiResult<HelloResponse> apiResult = new();

    protected override async Task OnInitializedAsync() => await submit();

    async Task submit() => apiResult = await ApiAsync(request);
}
