@page "/"

<h1>Hello, world!</h1>

Welcome to your new Blazor WASM app, if you're new to Blazor please 
<a href="https://dotnet.microsoft.com/apps/aspnet/web-apps/blazor">read the docs</a>.

<SurveyPrompt Title="How is Blazor working for you?" />

<GettingStarted />
