@inherits LayoutComponentBase
@inject ServiceStackStateProvider AuthState;

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        <div class="top-row px-4">
            <a href="/docs/hosting" class="btn btn-outline-success m-3">$0.40 /mo</a>

        @if (AuthState.IsAuthenticated)
        {
            var authUser = AuthState.AuthUser!;

            <span class="me-3">@authUser.DisplayName</span>

            var roles = authUser.Roles;
            @if (roles.Count > 0)
            {
                @foreach (var role in roles)
                {
                    <small title="Admin" class="px-2 py-sm-1 me-1 bg-success bg-gradient text-white rounded">@role</small>
                }
            }
        }
            <a href="http://blazor.net" target="_blank" class="ml-md-auto">About</a>
        </div>
        <div class="content px-4">
            @Body
        </div>
    </div>
</div>


@code {
} 