@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        <div class="top-row px-4">
            <a href="/docs/hosting" class="btn btn-outline-success m-3">$0.40 /mo</a>

            <AuthorizeView>
                <span class="me-3">@context.User.GetDisplayName()</span>
            @foreach (var role in context.User.GetRoles())
            {
                <small @key=role title="Admin" class="px-2 py-sm-1 me-1 d-inline-flex rounded"
                       style="background-color:rgb(219 234 254);color: rgb(30 64 175);">@role</small>
            }
            </AuthorizeView>
            <a href="http://blazor.net" target="_blank" class="ml-md-auto">About</a>
        </div>
        <div class="content px-4">
            @Body
        </div>
    </div>
</div>
